<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registeruser</servlet-name>
        <servlet-class>com.shop.electronicshop.userdetails.registeruser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyuser</servlet-name>
        <servlet-class>com.shop.electronicshop.userdetails.verifyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registercompany</servlet-name>
        <servlet-class>com.shop.electronicshop.companydetails.registercompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifycompany</servlet-name>
        <servlet-class>com.shop.electronicshop.companydetails.verifycompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serv1</servlet-name>
        <servlet-class>com.shop.electronicshop.onload.Serv1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>com.shop.electronicshop.cart.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removefromcart</servlet-name>
        <servlet-class>com.shop.electronicshop.cart.removefromcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdisplay</servlet-name>
        <servlet-class>com.shop.electronicshop.product.productdisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addoldproduct</servlet-name>
        <servlet-class>com.shop.electronicshop.oldproduct.addoldproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serv2</servlet-name>
        <servlet-class>com.shop.electronicshop.onload.Serv2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart1</servlet-name>
        <servlet-class>com.shop.electronicshop.cart.addtocart1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartold</servlet-name>
        <servlet-class>com.shop.electronicshop.cart.addtocartold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeoldproduct</servlet-name>
        <servlet-class>com.shop.electronicshop.oldproduct.removeoldproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pay</servlet-name>
        <servlet-class>com.shop.electronicshop.netbank.pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removefromcart2</servlet-name>
        <servlet-class>com.shop.electronicshop.cart.removefromcart2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyaddproduct</servlet-name>
        <servlet-class>com.shop.electronicshop.companydetails.companyaddproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postreview</servlet-name>
        <servlet-class>com.shop.electronicshop.userdetails.postreview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registeruser</servlet-name>
        <url-pattern>/registeruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyuser</servlet-name>
        <url-pattern>/verifyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registercompany</servlet-name>
        <url-pattern>/registercompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifycompany</servlet-name>
        <url-pattern>/verifycompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Serv1</servlet-name>
        <url-pattern>/Serv1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removefromcart</servlet-name>
        <url-pattern>/removefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdisplay</servlet-name>
        <url-pattern>/productdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addoldproduct</servlet-name>
        <url-pattern>/addoldproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Serv2</servlet-name>
        <url-pattern>/Serv2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart1</servlet-name>
        <url-pattern>/addtocart1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartold</servlet-name>
        <url-pattern>/addtocartold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeoldproduct</servlet-name>
        <url-pattern>/removeoldproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pay</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removefromcart2</servlet-name>
        <url-pattern>/removefromcart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyaddproduct</servlet-name>
        <url-pattern>/companyaddproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postreview</servlet-name>
        <url-pattern>/postreview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
